.content {
  background: #fff;
}

.contentBackground {
  background: #fff;
  padding: 24px;
  height: calc(100% - 80px);
}

.footer {
  height: 50px;
  font-family: 'Inter', sans-serif;
}

.layout {
  min-height: '100vh';
}
